<!--
  Generated template for the OrderPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!--<ion-header>-->
  <!--<ion-toolbar>-->
    <!--<ion-buttons start>-->
      <!--<button ion-button (click)="dismiss()">-->
        <!--<span ion-text color="primary" showWhen="ios">Cancel</span>-->
        <!--<ion-icon name="md-close" showWhen="android,windows"></ion-icon>-->
      <!--</button>-->
    <!--</ion-buttons>-->
  <!--</ion-toolbar>-->
<!--</ion-header>-->

<ion-content>
        <!--<ion-item>-->
          <!--<ion-buttons>-->
            <!--<button ion-button item-end icon-only (click)="dismiss()" color="white">-->
              <!--<ion-icon name="ios-close-outline" item-end=""></ion-icon>-->
            <!--</button>-->
          <!--</ion-buttons>-->
        <!--</ion-item>-->
        <ion-item no-lines>
          <ion-icon item-start name="md-heart-outline" color="sulu"></ion-icon>
          <h2 style="text-align: center">Имя салона</h2>
          <ion-icon item-end name="close" color="sulu" (click)="dismiss()"></ion-icon>
        </ion-item>
        <hr class="line-t">
        <ion-item no-lines>
          <ion-slides pager>
            <ion-slide *ngFor="let img of salon['slider']">
              <img src="{{img.img}}"/>
            </ion-slide>
          </ion-slides>
        </ion-item>
        <hr class="line-s">
        <ion-item no-lines>
          <ion-icon item-start name="ios-home-outline"></ion-icon>
          <p>{{salon.adress}}</p>
        </ion-item>
        <ion-item no-lines>
          <ion-icon item-start name="ios-time-outline"></ion-icon>
          <p>{{salon.time}}</p>
        </ion-item>
        <ion-item no-lines>
          <h4 text-center>Услуги салона</h4>
          <p *ngFor="let service of salon['services']">{{service.name}}</p>
        </ion-item>
        <button ion-button block id="btn" color="sulu" block outline round (click)="makeOrder()">Записаться</button>

</ion-content>
