page-order {
  #btn{
    border-radius: 6px;
    font-size: 1em;
  }
  .line-s{
    color:#D05197;
    background-color: #D05197;
  }
  .line-t{
    color:#848484;
    background-color: #848484;
  }

}
