page-find {
  #my-map{
    height: 200px;
  }
  #time{
    background-color: #007aff;
    width: 13%  ;
    margin-left: 70%;
    position: absolute;
    text-align: center;
    transform: translate(0%, -50%);
    height: 8%;
  }
  //#new-map{
  //  height: 100%;
  //}

}
