page-find {
  #my-map{
    height: 40%;
  }
  #time{
    background-color: #007aff;
    width: 13%  ;
    margin-left: 70%;
    position: absolute;
    text-align: center;
    transform: translate(0%, -50%);
    height: 8%;

  }
}
