page-find {
  //#my-map{
  //
  //}
  #time{
    background-color: #D05197;
    padding-top: 2%;
    width: 14%;
    margin-left: 70%;
    position: absolute;
    text-align: center;
    transform: translate(0%, -50%);
    height: 9%;
    color: white;
    border-radius: 5px;
  }
  //#new-map{
  //  height: 100%;
  //}
  #map{
    background-image: url("../../assets/imgs/city-map-imaginary-sea-route-point-to-b-vector-illustration-115026261.jpg") ;
    background-size: cover;
    height: 200px;
    width: auto;
    background-repeat: no-repeat;
    background-position: center;
  }
  #btn{
    margin-top: 40px;
    border-radius: 6px;
    font-size: 1em;
  }
  #girl{
    background-image: url("../../assets/imgs/girl.png") ;
    background-size: cover;
    height: 83px;
    width: auto;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
  }
  div.scroll-content{
    background-color: #FEE2EE;
  }
  #content{
    margin-top: 15%;
    border-radius: 13px;
    background-color: white;
  }
  .salon-icon{
    background-image: url("../../assets/imgs/girl.png") ;
    background-size: cover;
    height: 25px;
    width: 25px;
    display: block;
    float: left;
    margin-right: 10px;
    background-repeat: no-repeat;
    background-position: center;
  }
  .item-md, .item-ios, .item-wp{
    border-radius: 13px;
  }
}
